@charset "utf-8"
*
	margin 0
	padding 0
	box-sizing border-box
	vertical-align middle

html
	width 100%
	height 100%

body
	width 100%
	height 100%
	min-width 690px
	position relative
	background #808080 url('../images/background.jpg') no-repeat 50% center fixed
	background-size cover
	overflow hidden
	font-size 12px
	font-family Arial, sans-serif
	color #aaaaaa

a
	text-decoration none

.button
	&.game
		display inline-block
		width 80px
		height 40px
		position relative
		border-radius 5px
		background-image linear-gradient(bottom, #111111, #888888)
		background-color #444444
		border 1px solid #5d5d5d
		cursor pointer
		&.active
			background-color #777
			background-image linear-gradient(bottom, #444444, #dddddd)
			.hover
				background-color #ffd
				background-image linear-gradient(bottom, #dd8800, #ffffdd)
			.text
				text-shadow 1px 1px #aaa
		.hover
			opacity 0
			width 100%
			height 100%
			border-radius 5px
			background-image linear-gradient(bottom, #000077, #00aaff)
			transition 700ms
		.text
			width 100%
			position absolute
			left 0
			top 0
			color #222
			text-align center
			font-size 16px
			font-weight bold
			text-shadow 1px 1px #666
			margin-top 3px
		&:hover
			.hover
				opacity 1

.table
	display inline-block
	height 100%
	max-height 0
	position relative
	box-shadow 0 0 20px 2px #555
	font-family Arial, Helvetica, sans-serif
	font-size 13px
	& > div
		display inline-block
	.out-table
		height 100%
		.in-table
			max-height calc(100% - 50px)
			overflow hidden
			.rows
				display inline-block
				position relative
				.row
					display inline-block
					position relative
					cursor pointer
					.cell
						&.left
							& > span
								margin auto 0
						&.center
							& > span
								text-align center
		.cell
			display inline-flex
			padding 7px 5px
			position relative
			background #222
			background rgba(10, 12, 13, 0.8)
			color #7E7F80
			border 1px solid #343840
			text-align left
			box-sizing border-box
			overflow hidden
			& > span
				max-width 100%
				margin auto
			.in-cell
				display inline-block
				width 100%
				max-height 100%
				overflow hidden
				&.view
					height 31px
			.newName
				display block
				width 100%
				height 100%
				position absolute
				top 0
				left 0
				padding 5px
				color #888
				font-size 16px
		.header
			.cell
				color #C4C5C5
				font-weight 700
				text-align center
				a
					color #F25322
					text-decoration none
					cursor pointer
	.scrollbar
		width 9px
		height 100%
		background-color #1E2023
		box-sizing border-box
		border 3px solid #333
		text-align center
		span
			display inline-block
			width 3px
			height 25%
			position relative
			top 0
			background-color white
			border-radius 1px
			cursor pointer
	&.no-scroll
		.scrollbar
			display none !important

.name
	color #658C4C
	font-weight bold

.myself
	color #ff7711

.logo
	text-align center

.menu
	margin 0 auto
	text-align center

.vertical-middle
	display inline-block
	vertical-align middle
	height 100%
	&:after
		content ''
		display inline-block
		width 1px
		height 100%
		vertical-align middle

.tooltip
	background none #141428
	color #7E7F80
	&.no-size
		max-width none
	&.big-size
		max-width 500px
	&.two-columns
		max-width 600px
		column-count 2

.technic
	display inline-flex !important
	width 100%
	max-width 100%
	height 100%
	justify-content flex-end
	background-repeat no-repeat
	background-position left center
	overflow hidden
	span
		max-width 100%
		color #c6e0d0
		margin auto 0
		white-space nowrap
		&.prem
			color #FFC363

.change
	& > span
		width 50%
		display inline-block
		padding 5px
		cursor pointer
		& > span
			width 100%
			height 100%
			display inline-block
			padding 5px
			text-align center
			& > img
				width 124px
				height 31px
				&.img-medal
					width 100%
					height 100%
	.nameChange
		width 100%
		display block
		text-align center
	.oldValue
		background-color rgba(255, 255, 0, 0.2)
	.newValue
		background-color rgba(0, 255, 0, 0.2)

.option
	& > span
		display inline-block
		width 70%
		box-sizing border-box
		padding 10px
		.imgage
			width 100%
		&:first-child
			width 30%

.bg-green
	background-color #0F0

.bg-yellow
	background-color #FF0

.bg-red
	background-color #F00

.changeDate
	text-align center
	.inputDate
		width 120px
		position relative
		padding 6px
		height 30px
		box-sizing border-box
		background-color #444
		border 1px solid #777
		border-radius 4px
		color #C4C5C5
		text-align center
		& + img
			vertical-align middle
			margin-left 10px

header
	width 100%
	text-align center
	background-image linear-gradient(bottom, #222222, #888888)
	div
		display inline-block
	#logo
		height 60px
		position absolute
		top 0
		left 0
		padding 10px 0 0 65px
		background url('../images/emblem.png') no-repeat center left
		a
			div
				display block
				color white
				text-align left
				font-size 16px
				span
					position relative
					top -1px
					color #1b8719
				&:first-child
					white-space nowrap
					color #F9D088
					font-size 20px
					font-weight 400
					text-shadow 1px 1px #000
			#motto
				font-size 12px
				color #bbb
	.button
		display inline-block
		width 100px
		height 50px
		position relative
		border-radius 5px
		background-image linear-gradient(bottom, #111111, #888888)
		background-color #444444
		border 1px solid #5d5d5d
		cursor pointer
		margin 5px 0
		&.active
			background-color #777
			background-image linear-gradient(bottom, #444444, #dddddd)
			.hover
				background-color #ffd
				background-image linear-gradient(bottom, #dd8800, #ffffdd)
			.text
				text-shadow 1px 1px #aaa
		.hover
			opacity 0
			width 100%
			height 100%
			border-radius 5px
			background-image linear-gradient(bottom, #000077, #00aaff)
			transition 700ms
		.text
			width 100%
			position absolute
			left 0
			top 0
			margin-top 14px
			color #222
			text-align center
			font-size 16px
			font-weight bold
			text-shadow 1px 1px #666
		&:hover
			.hover
				opacity 1
	#menuAll
		display inline-block
		width 50px
		height 50px
		position relative
		border-radius 5px
		background-image linear-gradient(bottom, #111111, #888888)
		background-color #444444
		border 1px solid #5d5d5d
		cursor pointer
		&.active
			background-color #777
			background-image linear-gradient(bottom, #444444, #dddddd)
			.hover
				background-color #ffd
				background-image linear-gradient(bottom, #dd8800, #ffffdd)
			.text
				text-shadow 1px 1px #aaa
		.hover
			opacity 0
			width 100%
			height 100%
			border-radius 5px
			background-image linear-gradient(bottom, #000077, #00aaff)
			transition 700ms
		.text
			width 100%
			position absolute
			left 0
			top 0
			margin-top 14px
			color #222
			text-align center
			font-size 16px
			font-weight bold
			text-shadow 1px 1px #666
		&:hover
			.hover
				opacity 1
	#enter
		position absolute
		top 0
		right 0
		& > div
			float right
			margin 5px
		#member
			margin-top 17px
			white-space nowrap
			color #F9D088
			font-size 20px
			font-weight 400
			text-shadow 1px 1px #000

#main
	width 100%
	height 100%
	overflow hidden
	#mainContainer
		width 5000px
		height 100%
		position relative
		left 0
		top 0
		overflow hidden
		& > div
			position relative
			height 100%
			float left
			overflow hidden
		.sheet
			display none
			.sheet-inner
				width 100%
				height calc(100% - 4px)
				margin-top 2px
			&.active
				display block
		#mainSheet
			position relative
			#mainTab
				position relative
				overflow-y auto
				overflow-x hidden
				transition 700ms
				text-align center
				& > div
					display inline-block
					height 100%
					text-align left
				#countMembers
					display inline-flex
					height 40px
					font-size 17px
					color #bbb
					text-shadow 1px 1px #444
					& > span
						margin auto 0
		#extendSheet
			text-align center
			#extendMenu
				display inline-block
				position relative
				text-align center
				.button
					display inline-block
					width 110px
					height 40px
					position relative
					border-radius 5px
					background-image linear-gradient(bottom, #111111, #888888)
					background-color #444444
					border 1px solid #5d5d5d
					cursor pointer
					margin 10px 0
					&.active
						background-color #777
						.hover
							background-color #ffd
						.text
							text-shadow 1px 1px #aaa
					.hover
						opacity 0
						width 100%
						height 100%
						border-radius 5px
						background-image linear-gradient(bottom, #000077, #00aaff)
						transition 700ms
					.text
						width 100%
						position absolute
						left 0
						top 0
						margin-top 9px
						color #222
						text-align center
						font-size 16px
						font-weight bold
						text-shadow 1px 1px #666
					&:hover
						.hover
							opacity 1
				#buttonAllTime
					margin-right 8px
				#nameGameData
					display inline-block
					height 100%
					position absolute
					right 240px
					text-align left
					.name
						font-size 18px
						margin-right 10px
				#dateUpdated
					display inline-block
					width 260px
					height 100%
					position absolute
					left 240px
					top 0
					text-align left
			#extendPeriod
				padding-bottom 10px
				text-align center
			#extendData
				overflow auto
				#Medals
					.infoBlock
						text-align left
				#Difference
					display none
				#Technics
					.infoBlock
						padding 10px
						.rows
							.cell
								color #b6b8bb
								font-size 16px
							.cell[col="0"]
								display inline-flex
								justify-content space-between
								align-items center
								.nation
									width 50px
									height 100%
									position relative
									background-size contain
									background-repeat no-repeat
									& > *
										display block
										width 100%
										height 100%
										position absolute
										left 0
										top 0
									img
										opacity 0.3
									& > span
										display flex
										span
											margin auto
											color white
											font-size 16px
								.technic
									font-size 14px
									max-width calc(98% - 50px)
							.cell[col="0"]:before
								display none
							.cell[col="2"]
								& > span
									white-space nowrap
									overflow hidden
			.borderBlock
				width 100%
				max-width 800px
				margin 20px auto
				box-shadow 0 0 10px 1px #555
				.headerBlock
					display flex
					justify-content space-between
					align-items center
					background black
					color #ddd
					font-size 21px
					padding 8px 14px
					text-align left
					.ui-icon
						cursor pointer
						transform scale(1.4)
					.ui-icon-circle-triangle-s
						display none
				.infoBlock
					height auto
					padding-bottom 3px
					border 2px solid black
					background rgba(30, 30, 30, 0.9)
					color #888
					font-size 13px
					background-color #222
					cursor default
					overflow hidden
					& > span
						display inline-block
						position relative
						top 0
					.infoRow
						display inline-flex
						width 95%
						justify-content space-between
						align-items center
						padding 10px 10px 5px 0
						box-sizing border-box
						border-style none none dashed none
						border-width 1px
						& > span
							&:last-child
								font-weight bold
								color #bbb
								cursor default
						.effWR
							cursor pointer
					.nameGroupMedals
						padding 8px 12px 2px
						font-size 14px
						font-weight 600
						color #bbb
					.medal
						position relative
						display inline-block
						margin 3px
						width 50px
						height 50px
						img
							position absolute
							width 50px
							height 50px
						span
							border 1px solid #40312E
							position absolute
							font-size 10px
							text-align center
							right 1px
							width 26px
							top 35px
							background-color #420f0c
							padding 1px 0
				&.info
					.infoBlock
						max-height 300px
						& > span
							column-count 2
				&.hide
					.headerBlock
						.ui-icon-circle-triangle-s
							display inline
						.ui-icon-circle-triangle-n
							display none
					.infoBlock
						display none
		#extendSheet[view="period"]
			#extendData
				max-height calc(100% - 91px)
		#adminSheet
			.sheet-inner
				width calc(100% - 10px)
				height calc(100% - 20px)
				background-color rgba(50, 100, 100, 0.7)
				border-radius 10px
				padding 10px
				margin 10px auto 0
				overflow-x hidden
				overflow-y auto
			#adminMenu
				.button
					display inline-block
					width 110px
					height 40px
					position relative
					border-radius 5px
					background-image linear-gradient(bottom, #111111, #888888)
					background-color #444444
					border 1px solid #5d5d5d
					cursor pointer
					margin-bottom 10px
					&.active
						background-color #777
						background-image linear-gradient(bottom, #444444, #dddddd)
						.hover
							background-color #ffd
							background-image linear-gradient(bottom, #dd8800, #ffffdd)
						.text
							text-shadow 1px 1px #aaa
					.hover
						opacity 0
						width 100%
						height 100%
						border-radius 5px
						background-image linear-gradient(bottom, #000077, #00aaff)
						transition 700ms
					.text
						width 100%
						position absolute
						left 0
						top 0
						margin-top 9px
						color #222
						text-align center
						font-size 16px
						font-weight bold
						text-shadow 1px 1px #666
					&:hover
						.hover
							opacity 1
			.adminBlock
				height 100%
				.changeDate
					padding-bottom 10px
				.adminTable
					text-align center
				.selectors
					text-align center
					& > div
						height auto
						display inline-table
						border-spacing 10px 5px
						text-align center
						& > div
							height 40px
							display table-cell
							padding 3px
							border-radius 5px
							vertical-align middle
							cursor pointer
							&:hover
								box-shadow 0 0 10px 5px blue
							&.select
								&.selected
									background-color rgba(50, 150, 100, 0.5)
							img
								width 50%
							.text
								padding 5px 5px 0
							&.confirm[confirm="new"]
								background-color rgba(0, 255, 0, 0.2)
							&.confirm[confirm="chn"]
								background-color rgba(255, 255, 0, 0.2)
					div[selector="nations"]
						.select
							width 110px
							height 70px
					div[selector="types"]
						.select
							width 80px
							height 80px
							img
								width 24px
								margin-bottom 5px
					div[selector="levels"]
						.select
							width 65px
							height 60px
				#adminTableMembers
					.memberColor
						display inline-block
						width 100%
						height 100%
						border-radius 50% / 50%
						color black
						font-size 16px
						font-weight bold
						text-shadow 0 0 5px white
			#adminMembers
				position relative
				.delMember
					display inline-block
					width 100%
					height 30px
					&:hover
						background url(../images/del_member.png) no-repeat center
				div[action="addMember"]
					text-align center
					padding 10px
				.button
					display inline-block
					width 240px
					height 40px
					position relative
					border-radius 5px
					background-image linear-gradient(bottom, #111111, #888888)
					background-color #444444
					border 1px solid #5d5d5d
					cursor pointer
					&.active
						background-color #777
						.hover
							background-color #ffd
						.text
							text-shadow 1px 1px #aaa
					.hover
						opacity 0
						width 100%
						height 100%
						border-radius 5px
						background-image linear-gradient(bottom, #000077, #00aaff)
						transition 700ms
					.text
						width 100%
						position absolute
						left 0
						top 0
						margin-top 9px
						color #222
						text-align center
						font-size 16px
						font-weight bold
						text-shadow 1px 1px #666
					&:hover
						.hover
							opacity 1
				#formAddMember
					display none
					width 100%
					height 100%
					position absolute
					left 0
					top 0
					.mask
						width 100%
						height 100%
						position absolute
						left 0
						top 0
						background rgba(0, 0, 0, 0.5)
						text-align center
						&:before
							content ""
							display inline-block
							width 0
							height 100%
							vertical-align middle
						.form
							display inline-block
							min-width 300px
							background #dddddd
							border 1px solid #aaaaaa
							border-radius 8px
							vertical-align middle
							&:before
								content ""
								display inline-block
								width 0
								height 100%
								min-height 200px
								vertical-align middle
							.block-find
								display inline-block
								width 200px
								vertical-align middle
								input
									padding 10px
									font-size 16px
							.listFindedMembers
								display inline-block
								vertical-align middle
								.newMember
									display flex
									justify-content space-between
									align-items center
									width 350px
									text-align left
									font-size 16px
									margin 5px 0 5px 15px
									border-radius 5px
									padding 10px
									cursor pointer
									&:hover
										background #aaa
										color #ff7711
									.games
										display inline-block
										& > span
											display inline-block
											margin 0 5px
											img
												height 30px
					&.wide
						.form
							width 650px
		#graphSheet
			#graphMenu
				#graphMenuParam
					.button
						display inline-block
						width 100px
						height 40px
						position relative
						border-radius 5px
						background-image linear-gradient(bottom, #111111, #888888)
						background-color #444444
						border 1px solid #5d5d5d
						cursor pointer
						margin 10px 0
						&.active
							background-color #777
							background-image linear-gradient(bottom, #444444, #dddddd)
							.hover
								background-color #ffd
								background-image linear-gradient(bottom, #dd8800, #ffffdd)
							.text
								text-shadow 1px 1px #aaa
						.hover
							opacity 0
							width 100%
							height 100%
							border-radius 5px
							background-image linear-gradient(bottom, #000077, #00aaff)
							transition 700ms
						.text
							width 100%
							position absolute
							left 0
							top 0
							margin-top 9px
							color #222
							text-align center
							font-size 16px
							font-weight bold
							text-shadow 1px 1px #666
						&:hover
							.hover
								opacity 1
			#graphMain
				display flex
				& > div
					padding 10px
				#graphList
					min-width 300px
					padding-right 0
					.all
						display inline-block
						cursor pointer
						&.hide
							opacity 0.3
					.graphColor
						width 24px
						height 24px
						border-radius 50%
					.row
						&.hide
							.cell
								& > *
									opacity 0.5
							.graphColor
								opacity 0
						&.current
							background-color rgba(0, 255, 0, 0.7)
				#graphics
					height 100%
					flex auto
					svg
						width 100%
						height 100%
						g
							stroke-width 3px
							&.member-line
								&:hover
									stroke-width 5px
							&.member-point
								circle
									&:hover
										stroke-width 5px
								rect
									&:hover
										stroke-width 5px
						g[hover="true"]
							stroke-width 5px
		#statSheet
			#statMenu
				.button
					display inline-block
					width 140px
					height 40px
					position relative
					border-radius 5px
					background-image linear-gradient(bottom, #111111, #888888)
					background-color #444444
					border 1px solid #5d5d5d
					cursor pointer
					margin 10px 0
					&.active
						background-color #777
						background-image linear-gradient(bottom, #444444, #dddddd)
						.hover
							background-color #ffd
						.text
							text-shadow 1px 1px #aaa
					.hover
						opacity 0
						width 100%
						height 100%
						border-radius 5px
						background-image linear-gradient(bottom, #000077, #00aaff)
						transition 700ms
					.text
						width 100%
						position absolute
						left 0
						top 0
						margin-top 9px
						color #222
						text-align center
						font-size 16px
						font-weight bold
						text-shadow 1px 1px #666
					&:hover
						.hover
							opacity 1
			#statTables
				& > div
					display none
					height 100%
					text-align center
				#statTechnics
					#statTechnicsMenu
						.button
							display inline-block
							width 150px
							height 35px
							position relative
							border-radius 5px
							background-image linear-gradient(bottom, #111111, #888888)
							background-color #444444
							border 1px solid #5d5d5d
							cursor pointer
							margin-bottom 10px
							&.active
								background-color #777
								background-image linear-gradient(bottom, #444444, #dddddd)
								.hover
									background-color #ffd
									background-image linear-gradient(bottom, #dd8800, #ffffdd)
								.text
									text-shadow 1px 1px #aaa
							.hover
								opacity 0
								width 100%
								height 100%
								border-radius 5px
								background-image linear-gradient(bottom, #000077, #00aaff)
								transition 700ms
							.text
								width 100%
								position absolute
								left 0
								top 0
								margin-top 6.5px
								color #222
								text-align center
								font-size 16px
								font-weight bold
								text-shadow 1px 1px #666
							&:hover
								.hover
									opacity 1
					.statTechnics
						display none
					#statTechnicsTable
						.level
							font-size 16px

#main #mainContainer #extendSheet #extendMenu #nameGameData:before
#main #mainContainer #extendSheet #extendMenu #dateUpdated:before
	content ""
	display inline-block
	width 0
	height 100%
	vertical-align middle

#main #mainContainer #extendSheet #extendMenu #nameGameData > span
#main #mainContainer #extendSheet #extendMenu #dateUpdated > span
	display inline-block
	vertical-align middle
	white-space nowrap

#main #mainContainer #adminSheet .adminBlock .selectors div[selector="stats"] .select
#main #mainContainer #adminSheet .adminBlock .selectors div[selector="confirm"] .confirm
	padding 0

#main #mainContainer #adminSheet #adminMembers #formAddMember .mask .form .block-find input
#main #mainContainer #adminSheet #adminMembers #formAddMember .mask .form .block-find .button
	width 100%
	height 40px
	margin 10px 0

#message
	display none
	width 100%
	height 100%
	position absolute
	left 0
	top 0
	background rgba(0, 0, 0, 0.4)
	z-index 1020
	#messageBlock
		width 300px
		position relative
		top 80px
		margin 0 auto
		padding 10px
		background-color #222
		border solid 2px green
		border-radius 10px
		font-size 16px
		font-weight 700
		text-align center
		&.error
			width 500px
			border solid 2px red
		#messageButtons
			display none
			height 32px
			& > div
				display inline-block
				float right
				border-radius 3px
				margin-left 3px
				margin-top 5px
			button
				width 70px
				padding 3px 5px
				border 1px solid gray
				border-radius 5px
				background-color #bbb
				cursor pointer

.item-technic
	display inline-flex
	width 260px
	height 30px
	justify-content space-between
	align-items center
	margin-bottom 4px
	.nation
		width 50px
		height 100%
		position relative
		background-size contain
		background-repeat no-repeat
		& > *
			display block
			width 100%
			height 100%
			position absolute
			left 0
			top 0
		img
			opacity 0.3
		& > span
			display flex
			span
				margin auto
				color white
				font-size 16px
	.technic
		font-size 14px
		max-width calc(98% - 50px)

#wait
	display none

.wait
	position absolute
	width 100%
	height 100%
	left 0
	top 0
	.spinner-mask
		position absolute
		width 100%
		height 100%
		background black
		opacity 0.3
	.spinner
		position absolute
		left calc(50% - 90px)
		top calc(50% - 90px)
		width 180px
		height 180px
		svg
			width 180px
			height 180px
		.spinner-line1
			animation spinner1 linear 1.6s infinite
		.spinner-line2
			animation spinner2 linear 1.6s infinite
		.spinner-line3
			animation spinner3 linear 1.6s infinite
		.spinner-line4
			animation spinner4 linear 1.6s infinite
		.spinner-line5
			animation spinner5 linear 1.6s infinite
		.spinner-line6
			animation spinner6 linear 1.6s infinite
		.spinner-line7
			animation spinner7 linear 1.6s infinite
		.spinner-line8
			animation spinner8 linear 1.6s infinite
		.spinner-line9
			animation spinner9 linear 1.6s infinite
		.spinner-line10
			animation spinner10 linear 1.6s infinite
		.spinner-line11
			animation spinner11 linear 1.6s infinite
		.spinner-line12
			animation spinner12 linear 1.6s infinite
		.spinner-line13
			animation spinner13 linear 1.6s infinite
		.spinner-line14
			animation spinner14 linear 1.6s infinite
		.spinner-line15
			animation spinner15 linear 1.6s infinite
		.spinner-line16
			animation spinner16 linear 1.6s infinite

@media (max-width: 1075px)
	#extData
		.borderBlock
			width 620px !important

@media (max-width: 1029px)
	html
		height auto

	body
		overflow auto
		#mainTab
			float none !important
			margin 2px auto 10px auto
			overflow hidden !important
		#extMain
			width 100% !important

@media (max-width: 1029px)
	#extMain
		height inherit !important

@media (max-width: 1000px)
	div#enter
		position relative

@media (max-width: 1000px)
	#menu
		display block

	#logo
		& > a
			display inline

	#menuLogin
		background-image linear-gradient(bottom, #444444, #aaaaaa)

@media (max-width: 870px)
	#tabMain
		width 730px !important

@media (max-width: 870px)
	#tabMain
		.myTableCol6
			display none !important

@media (max-width: 760px)
	#tabMain
		width 670px !important

@media (max-width: 760px)
	#tabMain
		.myTableCol1
			display none !important

