doctype html
html(lang="ru")
	head
		title [{TAG}] {NAME}
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(name="keywords" content="World of Tanks, worldoftanks, WoT, вот, танки, клан, миротворцы россии, MIR-R")
		link(rel="icon" href="favicon.ico")
		style
			| html {
			|    display: table;
			|    width: 100%;
			|    height: 100%;
			| }
			| body {
			|    display: table-cell;
			|    width: 100%;
			|    height: 100%;
			|    background: hsl(0, 0%, 50%) url('../images/background.jpg') no-repeat 50% center;
			|    background-size: cover;
			|    text-align: center;
			| }
			| #loader {
			|    display: inline-block;
			| }
	body
		#loader
			span
				.logo
					img(src='http://ru.wargaming.net/clans/media/clans/emblems/cl_445/19445/emblem_64x64.png')
				.names
					.tag(style='color:{COLOR}') [{TAG}]
					.name {NAME}
				.motto {MOTTO}

				.spinner
					.rect1
					.rect2
					.rect3
					.rect4
					.rect5

		#main {MAIN}

	link(type='text/css' rel="stylesheet" href="styles/loader.css")
	link(type='text/css' rel="stylesheet" href="//webfonts.ru/import/robotocondensed.css")
	link(type='text/css' rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/smoothness/jquery-ui.css")
	script(type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js")
	script(type='text/javascript' src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js")
	script(type='text/javascript' src="scripts/loader.js")