header
	#logo
		a(href='http://worldoftanks.ru/community/clans/19445-MIR-R/#wot&mt_order_by=-member_since' target='_blank')
			div
				span(style='color:{COLOR}') [{TAG}]
				| {NAME}
			#motto {MOTTO}
	#enter
	#menu