link(type='text/css' rel="stylesheet" href="styles/main.css")
header
	#logo
		a(href='http://worldoftanks.ru/community/clans/19445-MIR-R/#wot&mt_order_by=-member_since' target='_blank')
			div
				span(style='color:{COLOR}') [{TAG}]
				=' {NAME}'
			div {MOTTO}
	#enter(type='buttonCheck' action='buttonLogin')
		.button(menu='login') {ENTER}
		#member(rights='{RIGHTS}' member='{MEMBER}') {MEMBER_NAME}
	#menu(type='buttonCheck' action='buttonAll')
		.buttons(type="buttonRadio" action="buttonMain")
			.button.active(menu='main') Главная
			| {RIGHTS:ADMIN}
			.button(menu='admin') Админка
			| {/RIGHTS}
			.button(menu='graph') Графики
			.button(menu='stat') Статистика
			| {RIGHTS:MEMBER}
			.button(menu='event') События
			| {/RIGHTS}
		| {RIGHTS:ADMIN}
		.button(menu='all') Все
		| {/RIGHTS}

script(type='text/javascript' src="scripts/main.js")
